body {
  font: normal 400 17px/1.47059 "Microsoft YaHei", "SimSun", "Arial", "SF";
  letter-spacing: 0em;
  min-width: 320px;
  background-color: #fff;
}

a {
  text-decoration: none;
}

div,
span,
a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  transition: filter 0.4s ease-in-out;

  &.filter {
    filter: blur(10px);
  }
}

.banner {

  margin-top: 80px;

  .swiper-wrapper {
    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }

  .dotts {
    .swiper-pagination-bullet {
      width: 20px;
      height: 3px;
      margin: 0 5px;
      border-radius: 3px;
      background-color: RGB(245, 246, 250);
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: RGB(225, 204, 218);
    }
  }
}

.content {

  .commit-more {
    margin-bottom: 60px;

    .more {
      &:hover {
        background-color: #f5f5f54b;
      }

      display: block;
      color: #2d2d2d;
      width: 148px;
      height: 43px;
      border: 1px solid #b9ab77;
      line-height: 46px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.jewelry {
  background-color: #f9f9f9;

  .jewelry-c {
    margin: 0 auto;
    overflow: hidden;


    .jewelry-product {
      .item {
        .item-text {

          text-indent: 15px;
          background-color: rgba(51, 22, 22, 0.3);
          transition: all 0.4s ease-in-out;

          h3 {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 14px;
            color: #fff;
          }

          p {
            font-size: 12px;
            color: #c1c1c1;
            width: 85%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .commit-more {
      margin: 70px auto;
    }
  }
}

.activities {
  overflow: hidden;
  background: url(../img/activities-bg.jpg) no-repeat 0 208px;

  .activities-c {
    .commit-title {
      margin: 100px 0 50px;
    }

    .commit-more {
      margin: 75px auto;
    }
  }
}

.designers {
  background-color: #4d4d4d;

  .designers-c {
    overflow: hidden;

    .commit-title {
      margin: 100px 0 60px;

      h3 {
        color: #eceaea;
      }

      h3:last-child {
        color: #c1c1c1;
      }
    }

    .designers-list {
      .designer {
        text-align: center;
        font-size: 0;
        color: #b9b9b9;

        .designer-avatar {
          &.nth1 {
            background-image: url(../img/designer-1.jpg);
          }

          &.nth2 {
            background-image: url(../img/designer-2.jpg);
          }

          &.nth3 {
            background-image: url(../img/designer-3.jpg);
          }

          display: inline-block;
          border-radius: 50%;
          background-size: 100%;

        }

        .name {
          color: #f7f5f5;
          font-size: 24px;
        }

        .position {
          font-size: 12px;
        }

        p {
          font-size: 12px;
          line-height: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .more {
          display: inline-block;
          font-size: 12px;
          color: #b9b9b9;
          border-bottom: 1px solid;
        }
      }
    }
  }
}