@media (min-width: 769px) {
  .container {
    margin-top: 180px; }
    .container .wedding-content .wedding-content-c {
      width: 1200px;
      margin: 0 auto; }
      .container .wedding-content .wedding-content-c .wedding-details {
        height: 780px;
        margin-bottom: 50px; }
        .container .wedding-content .wedding-content-c .wedding-details .wedding-text {
          margin-left: 805px; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text h3 {
            margin-top: 20px;
            font-size: 30px; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text h4 {
            font-size: 16px;
            text-indent: 115px; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text p {
            font-size: 14px; }
            .container .wedding-content .wedding-content-c .wedding-details .wedding-text p:nth-child(4) {
              margin-top: 24px;
              text-indent: 145px; }
            .container .wedding-content .wedding-content-c .wedding-details .wedding-text p:nth-child(5) {
              text-indent: 85px; }
            .container .wedding-content .wedding-content-c .wedding-details .wedding-text p:nth-child(6) {
              margin-top: 24px; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text .appointment {
            width: 148px;
            height: 43px;
            line-height: 43px;
            margin: 80px auto; }
      .container .wedding-content .wedding-content-c .wedding-details-size {
        height: 780px;
        margin-bottom: 50px; }
      .container .wedding-content .wedding-content-c .wedding-size-text {
        width: 710px; }
        .container .wedding-content .wedding-content-c .wedding-size-text p {
          font-size: 16px; }
          .container .wedding-content .wedding-content-c .wedding-size-text p:first-child {
            font-size: 14px; }
          .container .wedding-content .wedding-content-c .wedding-size-text p:nth-child(2) {
            margin-top: 40px; }
          .container .wedding-content .wedding-content-c .wedding-size-text p:nth-child(3) {
            margin-top: 12px; }
    .container .wedding-content .my-wedding-banner {
      height: 555px; }
      .container .wedding-content .my-wedding-banner .wedding-banner-c {
        font-size: 0;
        width: 1200px;
        margin: 0 auto; }
        .container .wedding-content .my-wedding-banner .wedding-banner-c span {
          padding: 7px;
          font-size: 12px;
          margin-right: 40px;
          margin: 100px 40px 40px 0; }
        .container .wedding-content .my-wedding-banner .wedding-banner-c .swiper-button-prev {
          left: 140px; }
        .container .wedding-content .my-wedding-banner .wedding-banner-c .swiper-button-next {
          right: 140px; }
        .container .wedding-content .my-wedding-banner .wedding-banner-c .more {
          margin: 60px auto;
          line-height: 43px;
          width: 148px;
          height: 43px; } }
@media (max-width: 768px) {
  .container {
    margin-top: 90px; }
    .container .wedding-content .wedding-content-c {
      padding: 0 7px; }
      .container .wedding-content .wedding-content-c .wedding-details {
        padding: 32.5% 30%;
        background-size: 100%;
        margin-bottom: 25px;
        margin-right: 40%; }
        .container .wedding-content .wedding-content-c .wedding-details .wedding-text {
          position: absolute;
          margin-top: -32.5%;
          margin-left: 30%;
          padding: 0 10px 0 5px;
          text-align: justify; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text .vertical-line {
            display: none; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text h3 {
            font-size: 14px; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text h4 {
            font-size: 12px; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text p {
            font-size: 12px; }
            .container .wedding-content .wedding-content-c .wedding-details .wedding-text p:nth-child(4) {
              margin-top: 12px; }
            .container .wedding-content .wedding-content-c .wedding-details .wedding-text p:nth-child(5) {
              margin-top: 6px; }
            .container .wedding-content .wedding-content-c .wedding-details .wedding-text p:nth-child(5) {
              margin-top: 20px; }
          .container .wedding-content .wedding-content-c .wedding-details .wedding-text .appointment {
            margin: 30px auto; }
      .container .wedding-content .wedding-content-c .wedding-details-size {
        padding: 32.5% 30%;
        background-size: 100%;
        margin-bottom: 25px;
        margin-right: 40%; }
      .container .wedding-content .wedding-content-c .wedding-size-text {
        width: 60%;
        text-align: justify;
        margin-bottom: 25px; }
        .container .wedding-content .wedding-content-c .wedding-size-text p {
          font-size: 14px; }
          .container .wedding-content .wedding-content-c .wedding-size-text p:first-child {
            font-size: 12px; }
          .container .wedding-content .wedding-content-c .wedding-size-text p:nth-child(2) {
            margin-top: 20px; }
          .container .wedding-content .wedding-content-c .wedding-size-text p:nth-child(3) {
            margin-top: 6px; }
    .container .wedding-content .my-wedding-banner .wedding-banner-c {
      font-size: 0;
      padding: 5px; }
      .container .wedding-content .my-wedding-banner .wedding-banner-c span {
        padding: 7px;
        font-size: 12px;
        margin-right: 40px;
        margin: 30px 30px 30px 0; }
      .container .wedding-content .my-wedding-banner .wedding-banner-c .swiper-button-prev {
        display: none; }
      .container .wedding-content .my-wedding-banner .wedding-banner-c .swiper-button-next {
        display: none; }
      .container .wedding-content .my-wedding-banner .wedding-banner-c .more {
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin: 30px auto; } }

/*# sourceMappingURL=index.css.map */
