@media (min-width:769px) {
  .container {
    margin-top: 86px;

    img {
      float: left;
    }

    .about-banner {
      margin: 0;
      filter: grayscale(100%);
      transition: filter .6s linear;

      &:hover {
        filter: none;
      }
    }

    .about-content {
      .about-content-c {
        width: 1080px;
        margin: 0 auto;

        .brand-mask {
          width: 421px;
          height: 315px;
          line-height: 315px;
        }

        img {
          margin-right: 65px;
        }

        .about-text {
          .Paris {
            margin-top: 100px;
          }
        }
      }
    }

    .commit-title {
      margin: 100px auto 70px;
    }

    .chat-us {
      .chat-us {
        font-size: 26px;
        color: #373737;
       line-height: 3;

        p {
          font-size: 16px;
          color: #616060;
          line-height: 1.4;
        }


      }


    }

    .addr {
      #baiduaddr {
        margin: 40px 35px 0 0;
        width: 475px;
        height: 270px;
        float: left;
      }
      .addr-title {
        margin-top: 200px;
      }
    }
  }
}

@media (max-width:768px) {
  .container {

    margin-top: 80px;

    .about-content {
      .about-content-c {
        padding: 5px;

        img {
          width: 100%;
        }

        p {
          margin-top: 10px;
        }

        .chat-us {
          font-size: 20px;
          line-height: 2;

          p {
            font-size: 16px;
            color: #616060;
            line-height: 1.4;
          }


        }
        .addr {
          margin-bottom: 20px;
          #baiduaddr {
            margin-top: 30px;
            padding: 25% 50%;
          }
        }

      }
    }
  }
  
}
