.container {


  .wedding-content {
    .wedding-details {

      background: url(../img/wedding-1.jpg) no-repeat left top;

      .wedding-text {
        // overflow: hidden;
        color: #cecece;

        .vertical-line {
          position: absolute;
          height: 70px;
          width: 2px;
          margin-left: -17px;
          background-color: #454545;
        }

        h3,
        h4 {
          color: #4c4c4c;
        }

        .appointment {

          text-align: center;

          border: 1px solid rgb(254, 254, 254);

          &:hover {
            background-color: #b9ab77;
            border: 1px solid #b9ab77;
            color: #ffffff;
          }
        }

      }
    }

    .wedding-details-size {
      background: url(../img/wedding-2.jpg) no-repeat left top;
    }

    .wedding-size-text {
      color: #6a6a6a;
    }

    .my-wedding-banner {
      position: relative;

      background-color: #dddddd;

      span {
        display: inline-block;
        color: #999999;
        cursor: pointer;
        background-color: #f7f5f5;

        &:hover {
          color: #0a0a0a;
          box-shadow: 0 0 0 1px #b9ab77 inset;
        }
      }
    }

    .wedding-swiper {
      position: static;
      user-select: none;

      .swiper-button {
        width: 32px;
        height: 50px;
        background-color: #cacaca;
        background-size: 15px 25px;
      }
      .more {
        display: block;
        font-size: 12px;
        
        
        text-align: center;

        color: #bdbcbc;
        border: 1px solid currentColor;
        &:hover {
          color: #baae81;
        }
      }
    }

  }

  .footer {
    overflow: hidden;
    
    .footer-c {
      p {
        color: #f1efef;
      }

      .join {
        .join-item {
          color: #f1efef;
        }
      }
    }

    background-color: #4d4d4d;
  }
}